extends layout

block content
  center
    h1= title
    br
    br
    br
    br
    br
    br
    br
    div#form
      div.button#login Login
      div.button#register Register
      div.clear
    p #{title} allows anyone to instantly have a free server